.container
{
	width:800px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
}
.header
{
	margin-left: auto;
	margin-right: auto;
	padding:10px;
}
.menubox
{
	padding:10px;
	margin:0px;
}
.mainbox
{
	background-color: white;
	min-height: 500px;
	padding:10px;
	margin:0px;
}
#loginbox
{
	width: 340px;
	padding:10px;
	margin:0px;
}
.mainboxelement
{
	margin-left: 30px;
	width:200px;
}
.alignright
{
	float:right;
}
.h1
{
	color:white;
	font-size:40px;
}
.navilistitem
{
	float:left;
}
.navibuttons
{
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover
{ 
	background-color:green;
}
.navilist
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.floatleft
{
	float:left;
}
.floatright
{
	float:right;
}
#dpsHistoryBox
{
	padding:10px;
	margin: 200px 0px 0px 0px;
}
#activeChar
{
	width: 305px;
	padding:10px;
	margin:0px;
}
#simBox
{
	float: left;
	width: auto;
	padding:10px;
	margin:0px;
}

#amrTextArea
{
	margin: 5px 0px 0px 10px;
}

#historyBox
{
	width: 505px;
	padding:10px;
	margin:0px;
}
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#98bf21; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #98bf21 5%, #739112 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #98bf21), color-stop(1, #739112) );
	background:-moz-linear-gradient( center top, #98bf21 5%, #739112 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#98bf21", endColorstr="#739112");	background: -o-linear-gradient(top,#98bf21,739112);

	background-color:#98bf21;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #98bf21 5%, #739112 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #98bf21), color-stop(1, #739112) );
	background:-moz-linear-gradient( center top, #98bf21 5%, #739112 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#98bf21", endColorstr="#739112");	background: -o-linear-gradient(top,#98bf21,739112);

	background-color:#98bf21;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}